<!DOCTYPE html>
<html lang="en">

<head>

  <title>Map Details</title>
  <!-- Google Maps API view settings -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <!-- BOOTSTRAP CDN 4.1.3 CSS & REQUIRED LIBS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- Local CSS from layout.scss -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
</head>

<div>
  <% include ./partials/login %>
</div>
<div>
  <% include ./partials/register %>
</div>
<div>
  <% include ./partials/nav %>
</div>

<body>

  <h1>Map Details</h1>
  <a href="<%= map.url %>" class="map-url">
    <%= map.name %>
  </a>


  <button id="favourite-btn" type="button">Fav</button>
  <input id="point-title" type='text' placeholder="Point Title"></input>
  <textarea id="point-desc" placeholder="Point Description"></textarea>
  <div id="map" data-lat="<%= map.start_lat %>" data-lng="<%= map.start_lng %>" data-zoom="<%= map.zoom %>"></div>

  <textarea><%= map.desc %></textarea>

  <h3>Points</h3>
  <form>
    <input class="by-name-address-selector" type="radio" name="input-selector" value="by-name"> By Name
    <input class="by-map-selector" type="radio" name="input-selector" value="by-map" checked="checked"> By Map
  </form>
  <form>
    <input class="name-address-search-bar" type='text' name='name-address-search-bar'></input>
    <button class="search-btn" type="button">Search</button>
  </form>
  <div class="points-container"></div>

  <!-- BOOTSTRAP CDN 4.1.3 JS and required jquery and popper libs -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Load Map Details  -->
  <script type="text/javascript" src="/scripts/map-details.js"></script>
  <!-- API call to initialize map object -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap" defer></script>

</body>

</html>